/* font import */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* universal css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}
a{
    text-decoration: none;
    color: #000000;
}
p{
    font-size: 16px;
    color: #0E0E0E;
    opacity: 70%;
    font-weight: 400;
    line-height: 24px;
}
.container{
    width:1280px ; 
    margin:0 auto;
    background-color: #FFFFFF;
}

/* bannner section */
.subtitle{
    font-size: 32px;
    font-weight: bold;
    color:#0E0E0E;
}
.btn-header{
    padding: 15px 30px;
    background-color: #ffffff;
    color: #006A50;
    border: 1px solid #006A50; 
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;

} 
.side-image img{
    width:475px;
    height: 400px;
}

.btn-header:hover{
    background-color: #006A50;
    color: #ffffff;
    border: 1px solid #000000;
    transition: 0.5s;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 24px 0 24px 0;
}
.btn-primary{
    padding: 11px 20px;
    color: #ffffff;
    border: none; 
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}
.color-green{
    background-color: #006A50;
}
.color-green:hover{
    background-color: #ffffff;
    transition: 0.5s;
    color:#006A50;
    border: 1px solid #006A50;
}
.banner{
    display: flex;
    justify-content:space-around;
    background-color:#C6E4D6;
    align-items: center;
    padding: 80px 100px;
    margin-bottom: 80px;
    border-radius: 24px;
    gap:64px;
}
.mini{
    color:#0E0E0E;
    opacity: 50%;
    font-weight:400;
    font-size: 24px;
    margin-bottom: 16px;
}
.title{
    font-size: 56px;
    font-weight: bold;
    color:#0E0E0E;
    margin-bottom: 16px;
}
.section-title{
    font-weight: bold;
    color:#0E0E0E;
    font-size: 40px;
    text-align: left;
    margin-bottom: 24px;
}
/* Pillars section styles */
.margin-overide{
    margin-bottom: 32px;
}
.pillars{
     display:flex;
     gap:24px;
     justify-content: space-between;
     align-items: center;
}
.pillar{
    border-radius: 16px;
    padding:24px;
    border: 1px solid rgba(14, 14, 14, 0.15)
}
.pillar img{
    width:64px;
    height: 64px;
    margin-bottom: 24px;
}
.pillar-title{
    font-weight: bold;
    color:#0E0E0E;
    opacity: 80%;
    margin-bottom: 12px;
}
.pillar-description{
    font-weight: 400;
    color:#0E0E0E;
    opacity: 70%;
    margin-bottom: 16px;
}
.pillar-section{
    margin-bottom: 80px;
}
/* vision section styles */
.vision-section{
    margin:32px 0;
}
.cards{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0;

}
.card img{
    width: 64px;
    height: 64px;
    margin-bottom: 24px;
}
.card-1{
    background-color: rgba(84, 144, 245,.2);
    border: 1px solid #5490F5;

}
.card-2{
    background-color: #C6E4D6;
    border: 1px solid #09A15C;
}
.card-3{
    background-color: #F7EBCF;
    border: 1px solid #FFC239;
}
.card{
    border-radius: 16px;
    padding: 32px;  
}

.card-title{
    font-weight: bold;
    color:#0E0E0E;
    opacity: 80%;
    margin-bottom: 12px;
}
.card-description{
    font-weight: 400;
    color:#0E0E0E;
    opacity: 70%;
    margin-bottom: 16px;
}
.btn-font-overide{
    font-size: 16px;
    font-weight: 600;
}
.btn-color-blue{
    background-color:#5490F5;
}
.btn-color-blue:hover{
    background-color: #ffffff;
    transition: 0.5s;
    color:#5490F5;
    border: 1px solid #5490F5;
}
.btn-color-green{
    background-color:#09A15C;
}
.btn-color-green:hover{
    background-color: #ffffff;
    transition: 0.5s;
    color:#09A15C;
    border: 1px solid #09A15C;
}
.btn-color-golden{
    background-color:#FFC239;
}
.btn-color-golden:hover{
    background-color: #ffffff;
    transition: 0.5s;
    color:#FFC239;
    border: 1px solid #FFC239;
}
/* quate section styles */
.quate-section{
    margin: 32px 0 80px 0;
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding:48px 24px;
    border-radius: 16px;

   
}
.text-holder{
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
}
.speech{
    margin-bottom: 12px;
}
.author{
    font-weight:600;
    color:rgba(14, 14, 14,.8);
    line-height: 24px;
    font-size: 20px;
    
}
/* opinion section styles */
.opinion-section{
    margin-bottom:80px ;
}
.opinion-title{
    font-weight: bold;
    color:#0E0E0E;
    font-size: 40px;
    margin-bottom: 24px;
}
/* table design */
.opinion-table {
    width: 100%;
    border-collapse: collapse;
    padding: 24px;
    margin:32px
    
  }
 
  .opinion-table th, .opinion-table td {
    border: 1px solid rgba(14, 14, 14,.15);
    padding: 8px;
    padding: 24px;
    font-size:20px;
    font-weight: 600;
  }
  .opinion-table td:nth-child(2) {
    text-align: center;
}

  .opinion-table th {
    background-color: #C6E4D6;
    text-align: left;
    border: none;
  }

  .opinion-table select {
    background-color: #C6E4D6;
    border: 1px solid rgba(14, 14, 14,.15);
    padding:10px 14px;
    font-size:16px ;
    font-weight: 500 ;
    border-radius: 4px;
  }
  /* news section styles */
  .news-title{
    font-weight: bold;
    color:#0E0E0E;
    font-size: 40px;
    margin-bottom: 24px;
  }
  .news{
    display:flex;
    gap:24px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin:32px 0 80px 0;
  }
  .news-card{
    border-radius: 16px;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    width: 100%;
    margin-bottom: 24px;
  }
  .the-news{
    display: flex;
    gap:32px;
    justify-content: space-around;
    padding:48px;
  }
  .news img{
   width:408px;
   height: 306px;
   border-radius: 24px;
  }
  .contents img{
    width:134px;
    height: 40px;
    margin-bottom: 12px;
  }
  .btn-news{
    padding: 13px 26px;
    color: #ffffff;
    border: none; 
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    background-color: #006A50;
  }
  .btn-news:hover{
    background-color: #ffffff;
    transition: 0.5s;
    color:#006A50;
    border: 1px solid #006A50;
  }
.news-title{
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 12px ;
}
.time-block{
    display: flex;
    gap:12px;
    margin-bottom: 12px;

}
.news-disc{
    margin-bottom: 32px;
}
/* Donate section styles */
.donate-disc{
    margin-bottom: 32px;
    text-align: center;
}
.donate-amounts{
    display: flex;
    gap:24px;
    padding: 0 104.5px;
    white-space: nowrap;
    transition: background-color 0.3s ease;
    margin-bottom: 32px;
}
.donate-amount{
    width:240px;
    height: 128px;
    border-radius: 16px;
    border: 1px solid rgba(14,14,14,0.15);  
}
.donate-amount:hover {
    background-color: #C6E4D6;
}
.donate-amount:focus {
    background-color: #C6E4D6;
}
.donate-amount:focus:hover {
    background-color: #C6E4D6; /* Ensure active color remains on hover */
}
.taka{
    padding:40px;
    font-size: 40px;
    font-weight: bold;
    color:rgba(14,14,14,.8)
}
.other-amount{
    padding:20px 40px;
    text-align: center;
    font-size: 20px;
    color: rgba(14,14,14,.3); 
    border-bottom: 1px solid rgba(14,14,14,0.15); 

}
.donate-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.donate-section [type="text"] {
    width: 100%;
    padding: 20px 40px;
    font-size: 16px;
    border: 1px solid rgba(14,14,14,0.15);
}
.donate-section input[type="text"]::placeholder {
    text-align: center;
}
.amount-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1032px;
}
.donate-btn{
    color: #ffffff;
    background-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    padding:17px 34px;
    margin-top: 32px;
    text-align: center;
}
.btn-holder{
    text-align: center;
}
/* news letter styles */
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 0 80px 0;
    background-color: #C6E4D6;
    padding: 80px 100px;
}
.newsletter-title{
    font-weight: bold;
    font-size: 40px;
    color:#0E0E0E;
    margin-bottom:16px;
}
.newsletter-dics{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.input-area{
    margin:24px 0 24px 0;
}
.input-area [type="text"]{
    padding: 18px 40px;
    width: 600px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border:none;
}
.input-area [type="text"]::placeholder{
    font-size: 16px;
    color:rgba(14,14,14,.3);
    text-align: left;
}
.btn-newsletter{
    background-color:#006A50;
    padding: 17px 34px;

}
/* Footer section styles */
.footer{
    padding:50px 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title-holder{
    width: 100%;
    padding-bottom:32px;
    border-bottom: 1px solid rgba(14, 14, 14, 0.1);

}
.footer-title{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color:#0E0E0E;
    opacity: 100%;
}
.socail-icons{
    display: flex;
    flex-direction: row;
    gap:23px;
    margin-top: 32px;
}